[submodule "libs/cxxopts"]
    path = libs/cxxopts
    url = https://github.com/NikolasK-source/cxxopts.git
[submodule "libs/cxxendian"]
	path = libs/cxxendian
	url = https://github.com/NikolasK-source/cxxendian.git
